table {
    width: 80%;
    margin: 0 auto 0 auto;
    line-height: 40px;
    border-collapse: collapse;
    text-align: center;
}
     
#boardTitle {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    /* border: 1px solid silver; */
    margin: 0 auto 50px auto;
}
     
.tSpace {
    height: 500px;
    border: 1px solid blue;
}

.tSpace tbody a {
    font-size: 16px;
    /* font-weight: 400; */
}

th {
    font-size: 18px;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
}

td {
    border-bottom: 1px solid silver;
}

tbody tr:hover {
    font-weight: 600;
}