table {
    width: 80%;
    margin: 0 auto 0 auto;
    line-height: 40px;
    border-collapse: collapse;
    text-align: center;
}
     
#boardTitle {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    /* border: 1px solid silver; */
    margin: 0 auto 50px auto;
}
     
.tSpace {
    height: 500px;
    border: 1px solid green;
    /* padding-bottom: 50px; */
}

.tableBody tbody a {
    font-size: 16px;
    /* font-weight: 400; */
}

th {
    font-size: 18px;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
}

td {
    border-bottom: 1px solid silver;
}

.tableBody tr:hover {
    /* font-weight: 600; */
    background: silver;
}

#contentTitle {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

#contentBody {
    text-align: left;
    /* border: 1px solid red; */
    margin: 15px 0 15px 0;
    padding: 0 100px 0 100px;
    /* border-top: 3px dotted silver;
    border-bottom: 3px dotted silver; */
    /* height: 100%; */
}



/* 페이지 넘버링 */

.page-num {
    margin-top: 15px;
    text-align: center;
    /* border: 1px solid blue; */
}
  
.page-num li {
    width: 36px;
    height: 35px;
    padding: 0;
    display: inline-block;
}
  
.first {
    background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_first.png) no-repeat;
}
  
.prev {
    background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_prev.png) no-repeat;
}
  
.num {
    position: relative;
    top: -15px;
    height: 33px !important;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px #989898 solid;
}
  
.num > div {
    position: relative;
    top: 2px;
}
  
.next {
    background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_next.png) no-repeat;
}
  
.last {
    background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_last.png) no-repeat;
}