{% extends 'base.html' %}
{% load static %}


<!--요기 아래 블럭 속에 쓰면 메인 홈페이지에 바로 나옴-->
{% block fin-block %} 
<div id='fbody'>
    <div id = 'fhead'>
        <div id = 'ftitle'>
            <h2>소개글(bold)(20pt)</h2>
        </div>
        <div id = 'finfo'>
            <h2>설명글, 페이지 사용법(15pt)</h2>
        </div>
        <div id = 'freset'>
            <form action="" method="post" name="freset" id="fresetfrom"> 
                {% csrf_token %}
                <input type="button" value="RESET" id="fresetbnt">
            </form>
        </div>
    </div>
    <div id = 'fmain'>
            <div  id = 'fstock'>
                <form action="" method="post" name="fstock1" id="fstockfrom1"> 
                    {% csrf_token %}
                    <label>종목 코드</label><br>
                    <input type="text" id="fstock1">
                    <input type="button" id = 'fstock1btn' value="GO">
                    <br><br><br>
                </form>
                <form action="" method="post" name="fstock2" id="fstockfrom2"> 
                    {% csrf_token %}
                    <label>종목 코드</label><br>
                    <input type="text" id="fstock2"><br>
                    <label>날짜</label><br>
                    <input type="text" id="fstock3">
                    <input type="button"  value="GO">
                </form>
            </div>
            <div  id = 'fchart'>
                <canvas id="myChart"></canvas>
                <canvas id="myChart1"></canvas>
            </div>
            <div  id = 'fcovid'>
                <form action="" method="post" name="fcovid" id="fcovidfrom">
                    {% csrf_token %} 
                    <label>COVID DATA</label><br>
                    <label><input type="radio" name="covid" value="Daily-Covid"> Daily-Covid</label><br>
                    <label><input type="radio" name="covid" value="Total-Covid"> Total-Covid</label><br>
                    <label><input type="radio" name="covid" value="Daily-Vaccine"> Daily-Vaccine</label><br>
                    <label><input type="radio" name="covid" value="Total-Covid"> Total-Vaccine</label><br>
                    <input type="button" value="Submit">
                </form>
            </div>
    </div>
    <div id = 'ftext'>

    </div>
    <div id = 'fimage'>
        <div  id = 'fimagerow'>
            {{data.codedata}}
        </div>
    </div>
</div>
{% endblock fin-block %}